body {
    background-image: url("https://static.vecteezy.com/ti/vecteur-libre/p1/4775601-poker-table-vector-illustration-isolated-poker-or-black-jack-table-with-green-carpet-realistic-casino-online-poker-table-element-gambling-room-concept-design-vector-illustration-vectoriel.jpg");
    background-size: 1300px;
    background-repeat: no-repeat;
    background-position: 10% 10%;
    font-family: "pixelify sans", sans sherif;
}

.titre {
    display: flex;
    justify-content: center;
    font-size: 75px;   
    margin: 0;
    padding: 0;
    color:#FF0000
}

p {
    display: flex;
    justify-content: center;
    font-size: 25px
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);


.game-container {
  display: flex;
  gap: 20px;
}

.memory-card {
  width: 120px;
  height: 180px;
  perspective: 1000px;
  cursor: pointer;
  position: relative;
}

.memory-card .front,
.memory-card .back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.6s;
}


.memory-card .back {
  background-image: url('card_dos.webp');
  transform: rotateY(0deg);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}


.memory-card .front {
  transform: rotateY(180deg);
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.memory-card.flip .front {
  transform: rotateY(0deg);
}

.memory-card.flip .back {
  transform: rotateY(-180deg);
}


.memory-card[data-card="ace"] .front {
  background-image: url('ace.webp');
}

.memory-card[data-card="joker"] .front {
  background-image: url('Stone_Joker.webp');
}